<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductDAO">

<insert id="insertProduct" parameterType="product">

INSERT INTO product(pct_reg_date, pct_no, pct_stock, pct_name, pct_price, 
pct_intro, pct_detail, sc_no  
<if test='pctImgName != null'> 
, pct_img_name, pct_img_size 
</if> 
) 
VALUES 
(sysdate, seq_pct_no.nextval, #{pctStock}, #{pctName}, #{pctPrice}, 
#{pctIntro}, #{pctDetail}, #{scNo} 
<if test="pctImgName != null"> 
, #{pctImgName}, #{pctImgSize} 
</if> 
) 
 
</insert>


<select id="getNewList" resultType="product">
	<![CDATA[
	SELECT pct_reg_date, pct_no, pct_stock, pct_name, pct_price, 
	pct_intro, pct_detail, sc_no, nvl(pct_img_name,'') pct_img_name, pct_img_size,pct_cnt
    FROM product
    WHERE pct_no in (SELECT pct_no
                    FROM (SELECT pct_no,rownum as rnum 
                            FROM (SELECT pct_no 
                                    FROM product 
                                    ORDER BY pct_reg_date))
                    WHERE rnum>=1 AND rnum<=6)]]>
</select>

<select id="getAllList" resultType="product">
	<![CDATA[
	SELECT pct_reg_date, pct_no, pct_stock, pct_name, pct_price, 
	pct_intro, pct_detail, sc_no, nvl(pct_img_name,'') pct_img_name, pct_img_size,pct_cnt
    FROM product
    WHERE pct_no in (SELECT pct_no
                    FROM (SELECT pct_no,rownum as rnum 
                            FROM (SELECT pct_no 
                                    FROM product 
                                    ORDER BY DBMS_RANDOM.VALUE))
                    WHERE rnum>=1 AND rnum<=6)]]>
</select>





</mapper>