<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SearchDAO">
<select id="getSearchList" parameterType="product" resultType="hashmap">
	
	SELECT * 
	FROM product  inner join s_cate
    on product.sc_no = s_cate.sc_no
	WHERE pct_no in (SELECT pct_no FROM	(SELECT pct_no,rownum as rnum FROM (SELECT pct_no FROM product
	
																											WHERE pct_name like '%${pctName}%'
																											<if test="scNo!=null">
																											AND sc_no = #{scNo}
																											</if>
																											ORDER BY pct_reg_date desc)
														)
								WHERE rnum<![CDATA[>=]]>1 AND rnum<![CDATA[<=]]>6 )
	
</select>





</mapper>